<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.css" />
  </head>
  <body>
    <header>
      <h2><a href="/">My Awesome App</a></h2>
      <nav>
        <ul>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <fieldset>
        <legend>Create Account</legend>
        <label for="username"><small>Username</small></label>
        <input type="text" id="username" name="username" autocomplete="off" />

        <label for="password"><small>Password</small></label>
        <input
          type="password"
          id="password"
          name="password"
          autocomplete="off"
        />
        <hr />
        <input type="submit" value="Create Account" />
      </fieldset>
    </main>
    <footer>
      <small>&copy; My Awesome App 2024</small>
    </footer>
  </body>
</html>
